.container {
  width: 100%;
  height: auto;
  display: flex;
}
.left-side {
  width: 25%;
  height: auto;
  background-color: #31353d;
}
.right-side {
  width: 75%;
  height: auto;
}
.inner-topic {
  width: 90%;
  display: flex;
  border-bottom: 1px solid gray;
  margin-left: 5%;
}
.flex-center-right-side {
  padding-top: 8%;
  width: 88%;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.exit-icon {
  width: 12%;
  padding-top: 8%;
  font-size: 25px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
}
.container-btn {
  padding-top: 2%;
  width: 90%;
  margin-left: 5%;
  display: flex;
}
.btn-create {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
}
.btn-delete-all {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: #ee4035;
  margin-left: 15px;
  color: white;
}
.selectAssignedTo{
  margin-left: 15px;
  width: 110px;
}
.selectLeadSource{
  margin-left: 15px;
  width: 240px;
}
.searchContact{
  margin-left: 15px;
}